* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

nav {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 1.5rem;
    margin: 30px 0 120px 40px;
    color: #333333;
}

section {
    max-width: 100vw;
    display: flex;
}

section img {
    width: 40vw;
    margin: 0 100px 0 40px;
}

section h1 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 4rem;
    width: 40vw;
    color: #333333;
    padding-bottom: 3rem;
}

section p {
    font-family: 'Space Mono';
    font-size: 1.5rem;
    width: 30vw;
    color: #4F4F4F;
    margin-bottom: 65px;
}

.btn-container button {
    font-family: 'Space Mono';
    font-weight: 700;
    color: #fff;
    border: none;
    background: #333333;
    padding: 24px 43px;
    cursor: pointer;
}

footer {
    font-family: 'Montserrat';
    font-weight: 600;
    position: absolute;
    top: 1000px;
    padding: 40px 0;
    width: 100%;
    text-align: center;
    color: #333333;
}

@media screen and (max-width: 768px) {
    * {
        font-size: 12px;
    }

    nav {
        margin-bottom: 64px;
    }
    
    section {
        flex-direction: column;
        align-content: center;
    }

    section img {
        width: 70vw;
        margin: auto;
    }

    section h1, section p {
        width: 100%;
        padding: 24px;
    }

    .btn-container {
        text-align: center;
    }
}